$lightgray: lighten(lightgray, 7%);
* {
	margin: 0;
	padding: 0;
}

body {
    font-family:"Afacad Flux", sans-serif;
}

ul {
    list-style: none;
}



.character-image {
    border-radius: 50%;
    height: 180px;
    width: 180px;
    overflow: hidden;
    img {
        max-width: 100%;
        height: auto;
    }
}

.character__name {
    font-size: 1.8rem;
}

.character-id {
    font-size: 1.2rem;
}

.character-image + .character-data-set {
border-top: none;

}

.character-data-set {
    border-top: 1px solid $lightgray;
    margin-bottom: 1.5rem;    

        li {
            margin-bottom: .25rem;
        }   

    h2 {
        margin-top: 0.40rem;
    }
}

.mt-b {
    margin: 1rem 0;
}