@import "partials/utility-classes";

$lightgray: lighten(lightgray, 7%);
$text-color: lighten(black, 22%);
* {
	margin: 0;
	padding: 0;
}

body {
    font-family:"Afacad Flux", sans-serif;
    color: $text-color;
} 
h1 {
    color: #FF3B3F;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

ul {
    list-style: none;
}

.character-property-title {
    font-weight: 500;
    // color: #007bff;
}

.character-data-set h2 {
    color: #0075ff;
}



.character-image {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    overflow: hidden;
    img {
        max-width: 100%;
        height: auto;
    }
}

.character__name {
    font-size: 1.8rem;
}

.character-id {
    font-size: 1.2rem;
}

.character-image + .character-data-set {
border-top: none;
}

.character-data-set {
    border-top: 1px solid $lightgray;
    margin-bottom: 1.5rem;    

        li {
            margin-bottom: .25rem;
        }   

    h2 {
        margin-top: 0.40rem;
    }
}

