* {
	margin: 0;
	padding: 0;
}

ul {
    list-style: none;
}



.character-image {
    border-radius: 50%;
    height: 180px;
    width: 180px;
    overflow: hidden;
    img {
        max-width: 100%;
        height: auto;
    }
}