<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>
		<link rel="stylesheet" href="/css/styles.css" />
	</head>
	<body>
		<div class="container">
			<h1>Welcome to <%= title %></h1>
			<div class="character-search">
				<form action="/herosearch" method="post">
					<input type="text" name="heroname" />
					<button type="submit">Search</button>
					<button type="submit" formaction="/">Random</button>
				</form>
			</div>

			<div class="character-info">
				<h2 class="character-info__name"><%= data.name %></h2>
			</div>
		</div>
	</body>
</html>
